img.plant {
  position: absolute;
  height: auto;
}

/******** Invitation Hero ********/

.plant.willow-eucalyptus-branch {
  width: 207px;
  left: -45px;
  top: -37px;
  transform: rotate(-8deg);
}

.plant.bay-leaves {
  width: 212px;
  right: -51px;
  bottom: -56px;
  transform: rotate(-51deg);
}

.plant.wild-branch-1 {
  width: 110px;
  left: 40px;
  top: -45px;
  transform: rotate(106deg) rotateY(180deg);
}

.plant.wild-branch-2 {
  width: 110px;
  left: -49px;
  top: 72px;
  transform: rotate(151deg);
}

.plant.wild-branch-3 {
  width: 110px;
  right: 86px;
  bottom: -41px;
  transform: rotate(-61deg) rotateY(180deg);
}


/******** Schedule ********/

.plant.eucalyptus-left,
.plant.eucalyptus-right {
  height: 120px;
  width: 90px;
  top: 50%;
}

.plant.eucalyptus-left {
  left: -55px;
  transform: rotateY(180deg) translateY(-50%);
}

.plant.eucalyptus-right {
  right: -55px;
  transform: translateY(-50%);
}

/******** Timer ********/

.plant.monstera-leaf-left {
  width: 90px;
  left: -36px;
  bottom: 4px;
}

.plant.monstera-leaf-right {
  width: 90px;
  right: -42px;
  top: -2px;
}

/******** Thanks ********/

.plant.bird-of-paradise {
  width: 140px;
  left: -35px;
  bottom: -25px;
  transform: rotate(14deg);
}

.plant.peace-lily-leaves-left {
  width: 85px;
  left: 76px;
  bottom: -15px;
  transform: rotateY(180deg) rotate(-2deg);
}

.plant.wildflower-2 {
  width: 105px;
  right: 98px;
  bottom: -22px;
  transform: rotate(10deg) rotateY(180deg);
}

.plant.wildflower-3 {
  width: 72px;
  right: 67px;
  bottom: -24px;
}

.plant.peace-lily-leaves-right {
  width: 125px;
  right: -28px;
  bottom: -32px;
  transform: rotate(-30deg);
}

@media only screen and (max-width: 400px) {
  /******** Invitation Hero ********/

  .plant.willow-eucalyptus-branch {
    width: 192px;
    left: -39px;
    top: -35px;
  }
  
  .plant.bay-leaves {
    width: 198px;
    right: -48px;
    bottom: -50px;
  }
  
  .plant.wild-branch-1 {
    width: 100px;
    left: 40px;
    top: -42px;
  }
  
  .plant.wild-branch-2 {
    width: 100px;
    left: -42px;
    top: 72px;
    transform: rotate(151deg);
  }
  
  .plant.wild-branch-3 {
    width: 100px;
    right: 63px;
    bottom: -43px;
  }
  
  
  /******** Schedule ********/
  
  .plant.eucalyptus-left,
  .plant.eucalyptus-right {
    height: 105px;
    width: 80px;
  }
  
  /******** Timer ********/
  
  .plant.monstera-leaf-left {
    width: 75px;
    left: -30px;
  }
  
  .plant.monstera-leaf-right {
    width: 80px;
    right: -39px;
    top: 2px;
  }
  
  /******** Thanks ********/
  
  .plant.bird-of-paradise {
    width: 140px;
    left: -35px;
    bottom: -25px;
  }
  
  .plant.peace-lily-leaves-left {
    width: 85px;
    left: 76px;
    bottom: -15px;
  }
  
  .plant.wildflower-2 {
    display: none;
  }
  
  .plant.wildflower-3 {
    width: 72px;
    right: 67px;
    bottom: -24px;
  }
  
  .plant.peace-lily-leaves-right {
    width: 125px;
    right: -28px;
    bottom: -32px;
  }
}