html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #333338;
}

body {
    max-width: 480px;
    margin: 0 auto;
}

main.paper-bg {
    display: flex;
    flex-direction: column;

    background-color: #F5F5FA;
    border-radius: 2px;
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
    margin: 40px 10px;
    position: relative;
}

/* .invitation-hero img {
    position: absolute;
    width: 200px;
    height: auto;
} */

.invitation-hero h1 {
    font-family: 'Allura';
    font-size: 70px;
    line-height: 1.1;
    margin: 120px 0 80px 0;
    text-align: center;
}

.invitation-hero h1 span {
    display: block;
}

.invitation-hero h2 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: 310px;
    text-align: center;
    text-transform: uppercase;
}

.invitation-hero .horizontal-divider {
    height: 3px;
    background-color: gold;
    border-radius: 2px;
    margin: 16px auto;
    width: 80%;
}

.invitation-hero .date {
    letter-spacing: 1px;
    margin: 0 0 120px 0;
    text-align: center;
    text-transform: uppercase;
}

.location {
    background-color: #333338;
    padding: 30px 20px;
}

.location a {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #F5F5FA;
    cursor: pointer;
    border: 2px solid #F5F5FA;
    border-radius: 4px;
    margin: 0 auto;
    max-width: 320px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.location a:hover {
    color: #333338;
    border-color: #333338;
    background-color: #F5F5FA;
}

.location a span {
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 16px;
    position: relative;
}

.schedule {
    display: flex;
    border: 3px solid gold;
    margin: 16px;
    justify-content: center;
    padding: 50px 0;
}

.schedule ol {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 18px 30px;
}

.schedule ol li {
    font-family: 'Allura';
    font-size: 30px;
    margin-left: 0;
    line-height: 1.4;
}

.timer {
    display: flex;
    flex-direction: column;
    background-color: #B0B08E;
    padding: 20px 20px;
}

.timer .wording {
    display: flex;
}

.timer .clock {
    display: flex;
}

.timer p {
    margin: 6px 0;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
}

.timer .wording p {
    font-weight: 600;
    font-size: 14px;
}

.timer .clock p {
    font-size: 40px;
}

.info {
    padding: 20px;
}

.info ul {
    margin-right: 20px;
}

.info ul li {
    margin: 8px 0;
    text-align: justify;
}

.thanks .img-container {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    z-index: -1;
}

.thanks img {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
}

.thanks p {
    background: #B0B08E;
    background: linear-gradient(0deg,
        #B0B08E 0%,
        #B0B08E 70%,
        #B0B08E20  100%
    );
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 0 0;
    padding: 90px 20px 30px 20px;
    position: relative;
    bottom: 60px;
    margin-bottom: -60px;
}